.card {
  background: #f8f1f1;
  border-radius: 2px;
  height: 200px;
  margin: 1rem;
  position: relative;
  width: 200px;
  box-shadow: 0 3px 6px #0a065d, 0 3px 6px #0a065d;
  text-align: left;
}

.card > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
  background:#b1bed5;
}
.card > .img-container > img {
  width: 100%
}
