.footer {
  position: relative;
  bottom: 0;
  background: #b1bed5;
  width: 100%;
  color: #0a065d;
  height: 100px;
  padding-top: 40px;
  box-shadow: 6px #0a065d, 6px #0a065d;
}

a {
  text-decoration: none;
  color: #0a065d;
}

a:hover {
  text-decoration: none;
  color: #f4f3f3;
}